@model IEnumerable<OnlineTraining.EntityFramework.Courses>
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<table>
    <tr>

        <th>@Html.DisplayNameFor(model => model.courseName)</th>
        <th>@Html.DisplayNameFor(model => model.courseRating)</th>
        <th>@Html.DisplayNameFor(model => model.courseDurationHours)</th>
        <th>@Html.DisplayNameFor(model => model.coursePrice)</th>
    </tr>

    @foreach (var course in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => course.courseName)</td>
            <td>@Html.DisplayFor(model => course.courseRating)</td>
            <td>@Html.DisplayFor(model => course.courseDurationHours)</td>
            <td>@Html.DisplayFor(model => course.coursePrice)</td>
        </tr>
    }
</table>