
@{
    ViewBag.Title = "View all Courses";
}

<h1>View all Courses</h1>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"><img src="/Pictures/GCSEMathsPic.png" alt="GCSEMaths" style="width:304px;height:228px;"></div>
        <div class="col-sm-8"><p><strong>GCSE Maths</strong></p><p>This Maths course aims to introduce you to core mathematical concepts and techniques that are essential for more advanced Maths courses. After you have done this course, solving most Maths problems will become second nature to you.</p></div>
        <button type="button" class="btn btn-primary btn-lg btn-success pull-right" ><strong>@Html.ActionLink("Try It Now", "AddCourseToCart", "Courses")</strong></button>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"><img src="/Pictures/GCSEEnglishPic.png" alt="GCSEEnglish" style="width:304px;height:228px;"></div>
        <div class="col-sm-8"><p><strong>GCSE English</strong></p> <p>Our Online GCSE English Course will give you a great basis to improve your vocabulary, grammar, spelling and punctuation. You will gain access to a variety of reading materials and media. We will show you easy techniques to improve your imaginative writing. </p></div>
        <button type="button" class="btn btn-primary btn-lg btn-success pull-right"><strong>@Html.ActionLink("Try It Now", "AddCourseToCart", "Courses")</strong></button>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"><img src="/Pictures/GCSESciencePic.png" alt="GCSEScience" style="width:304px;height:228px;"></div>
        <div class="col-sm-8"><p><strong>GCSE Science</strong></p><p>Much of our everyday life relies on good understanding of the world we live in. This GCSE Science course will prepare you and provide you with all the relevant information in Physics, Chemistry and Biology. Your understanding will be tested throughout this course.</p></div>
        <button type="button" class="btn btn-primary btn-lg btn-success pull-right"><strong>@Html.ActionLink("Try It Now", "AddCourseToCart", "Courses")</strong></button>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"><img src="/Pictures/ALevelMathsPic.png" alt="ALevelMaths" style="width:304px;height:228px;"></div>
        <div class="col-sm-8"><p><strong>A Level Maths</strong></p> <p>This highly rated online A Level Maths course will offer you important analytical skills and techniques. You will gain plenty of opportunities to practice throughout this course. Topics covered include Algebra, Differentiation, Integration, Trigonometry, Exponentials and Logarithms and Vectors.</p></div>
        <button type="button" class="btn btn-primary btn-lg btn-success pull-right"><strong>@Html.ActionLink("Try It Now", "AddCourseToCart", "Courses")</strong></button>       
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"><img src="/Pictures/ALevelPhyPic.png" alt="ALevelPhy" style="width:304px;height:228px;"></div>
        <div class="col-sm-8"> <p><strong>A Level Physics</strong></p><p>This advanced Physics course goes deep into the subject. This course focuses heavily on applying the information learned to real-life applications. Going through the exam-style questions and solutions in this course will guide you towards excellent grades.</p></div>
        <button type="button" class="btn btn-primary btn-lg btn-success pull-right"><strong>@Html.ActionLink("Try It Now", "AddCourseToCart", "Courses")</strong></button>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"><img src="/Pictures/ALevelChemPic.png" alt="ALevelChem" style="width:304px;height:228px;"></div>
        <div class="col-sm-8"><p><strong>A Level Chemistry</strong></p><p>This course breaks down the concepts into easy parts and ensures that you understand them and are able to apply them to typical exam questions. If you follow this course, you will have no problems in answering the majority of exam questions.</p></div>
        <button type="button" class="btn btn-primary btn-lg btn-success pull-right"><strong>@Html.ActionLink("Try It Now", "AddCourseToCart", "Courses")</strong></button>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"><img src="/Pictures/ALevelBioPic.png" alt="ALevelBio" style="width:304px;height:228px;"></div>
        <div class="col-sm-8"> <p><strong>A Level Biology</strong></p> <p>This course will go through all the topics to suceed your A Level Biology. The course includes revision sections and provides up-to-date material. Topics covered include Biological Molecules, Cells, Genetic Information and the Response of Organisms to their Environment. </p></div>
        <button type="button" class="btn btn-primary btn-lg btn-success pull-right"><strong>@Html.ActionLink("Try It Now", "AddCourseToCart", "Courses")</strong></button>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"><img src="/Pictures/French.png" alt="French" style="width:304px;height:228px;"></div>
        <div class="col-sm-8"><p><strong>French for Beginners</strong></p> <p>This language course is a fun and effective way to learn French from no knowledge whatsoever in the language. It is fully interactive and involves sections that include videos and other documents to help you learn. There is also a pronounciation tool which will allow you to speak just like a native.</p></div>
        <button type="button" class="btn btn-primary btn-lg btn-success pull-right"><strong>@Html.ActionLink("Try It Now", "AddCourseToCart", "Courses")</strong></button>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"><img src="/Pictures/German.png" alt="German" style="width:304px;height:228px;"></div>
        <div class="col-sm-8"><p><strong>German for Beginners</strong></p><p><p>This language course is a fun and effective way to learn German from scratch. It is interactive and it will allow you to communicate effectively within a few weeks. There is a variety of videos and exercises to suit your own pace.</p></div>
        <button type="button" class="btn btn-primary btn-lg btn-success pull-right"><strong>@Html.ActionLink("Try It Now", "AddCourseToCart", "Courses")</strong></button>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"><img src="/Pictures/Spanish.png" alt="Spanish" style="width:304px;height:228px;"></div>
        <div class="col-sm-8"><p><strong>Spanish for Beginners</strong></p><p>Spanish is an incredible language to learn as it is used throughout the world. Improve your verbal and written understanding of the language and practice speaking with this course. The videos and are extremely interesting and they will give you an insight into Spanish culture and traditions.</p></div>
        <button type="button" class="btn btn-primary btn-lg btn-success pull-right"><strong>@Html.ActionLink("Try It Now", "AddCourseToCart", "Courses")</strong></button>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4"><img src="/Pictures/Python.png" alt="Python" style="width:304px;height:228px;"></div>
        <div class="col-sm-8"><p><strong>Programming in Python</strong></p> <p>Getting into programming can be very difficult particularly if you are learning on your own. This programming course is targeted to complete beginners. Short exercises have been designed to help you become a Python programmer and step-by-step solutions have been provided with this course.</p></div>
        <button type="button" class="btn btn-primary btn-lg btn-success pull-right"><strong>@Html.ActionLink("Try It Now", "AddCourseToCart", "Courses")</strong></button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Discover the range of courses available. These courses are enjoyable and interactive. We encourage you to follow along in the exercises and practice on your own.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more help</h2>
        <p>We offer the opportunity to get tailored coaching in specific areas of the subject of your desire.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Host a course</h2>
        <p>If you host your own course, not only do you share your passion and knowledge, but you will also qualify for many free gifts.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>