@model SocialNetwork.WebUI.Models.UserPostViewModel

<div class="container">
    <div class="post-container col-md-offset-2 col-md-8">
        <div class="container post-content">
            <h2>@Model.post.title - @Model.post.language</h2>
            <h4>@Model.post.time.ToString("MMMM dd, yyyy")</h4>
            <p>@Model.post.content</p>
            <div class="container post-code">
                <pre>@Model.post.code</pre>
            </div>
            <p>
                @using (Ajax.BeginForm("LikePost", "CodeWall", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "LikeForm" + Model.post.postId,
                    InsertionMode = InsertionMode.ReplaceWith
                }, new { @id = "LikeForm" + Model.post.postId }))
                {
                    @Html.HiddenFor(model => model.post.postId);
                    <input type="submit" value="Likes - @Model.post.likes" class="btn btn-primary" />
                }
            </p>

            <div class="container post-comments col-sm-10">
                @foreach (SocialNetwork.DataAccess.Comment comment in Model.post.comments)
                {
                    @Html.Partial("_Comment", new SocialNetwork.WebUI.Models.CommentViewModel() { comment = comment, user = comment.user, post = @Model.post })
                }
            </div>

            <div class="container post-comments col-sm-10">
                @Html.Partial("_MakeCommentForm", new SocialNetwork.WebUI.Models.CommentViewModel() { post = @Model.post })
            </div>
        </div>
    </div>
</div>


