@model SocialNetwork.WebUI.Models.UserViewModel

<div class="container">
    <div class="post-container">
        <div class="container post-sidebar col-sm-2">
            @if (Model.user != null)
            {
                <img class="post-profile-image" src="~/Content/@Model.user.username-profileimg.jpg" />
            }
            else
            {
                <img class="post-profile-image" src="~/Content/profile-picture-blank.gif" />
            }

            @if (Model.user != null)
            {
                @Model.user.fullName
            }

            @{
                bool check = false;

                foreach (var friend in Model.userLoggedIn.friends)
                {
                    if (Model.user.username == friend.username)
                    {
                        check = true;
                    }
                }
                if (check == false && Model.user.username != Model.userLoggedIn.username)
                {
                    <p>
                        @using (Ajax.BeginForm("AddFriend", "Search", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "createForm" + Model.user.userId,
                    InsertionMode = InsertionMode.ReplaceWith

                }, new { @id = "createForm" + Model.user.userId }))
                        {
                            @Html.HiddenFor(model => model.user.username);
                            <input type="submit" value="Add Friend" class="btn btn-primary" />
                        }

                    </p>
                }
                if (check == true)
                {
                    <p>
                        @using (Ajax.BeginForm("RemoveFriend", "Search", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "removeForm" + Model.user.userId,
                    InsertionMode = InsertionMode.ReplaceWith

                }, new { @id = "removeForm" + Model.user.userId }))
                        {
                            @Html.HiddenFor(model => model.user.username);
                            <input type="submit" value="Remove Friend" class="btn btn-primary" />
                        }
                        @Html.ActionLink("View Profile", "ProfilePage", "Search", new { username = @Model.user.username }, htmlAttributes: new { @class = "text-center" })
                    </p>
                }
            }
        </div>
    </div>
</div>
