@model IEnumerable<OnlineTraining.EntityFramework.Courses>
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}


<table class = "table">
    <tr>
        <th>@Html.ActionLink("Course", "Index", new { sortOrder = ViewBag.NameSortParm })</th>
        <th>@Html.ActionLink("Course rating", "Index", new { sortOrder = ViewBag.RatingSortParm })</th>
        <th>@Html.ActionLink("Course duration (hours)", "Index", new { sortOrder = ViewBag.DurationSortParm })</th>
        <th>@Html.ActionLink("Course price (£)", "Index", new { sortOrder = ViewBag.PriceSortParm })</th>
    </tr>

    @foreach (var course in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => course.courseName)</td>
            <td>@Html.DisplayFor(model => course.courseRating)</td>
            <td>@Html.DisplayFor(model => course.courseDurationHours)</td>
            <td>@Html.DisplayFor(model => course.coursePrice)</td>
        </tr>
    }
</table>